{% extends 'pdf.html.twig' %}

{% block title %}Errolda mugimenduak/Movimientos padronales{% endblock %}

{% block pdftitle %}Errolda mugimenduak<br/>Movimientos padronales{% endblock %}

{% block body %}

<div>
    <table>
	<tr>
	    <td style="width: 49%;">     Udal honetan Udal Erroldan adierazi datako egunean eta orrian txartel honetan jasotako datuen mugimenduak azaltzen dira.</td>
	    <td style="width: 49%;">     En el Padrón Municipal de este municipio aparecen en el día de la fecha y de la hora que se indica, los movimientos cuyos datos se recogen en este certificado</td>
	</tr>
    </table>
</div>

<div>
    <table>
	<tr>
	    <td colspan="2">BIZTANLEEN ERROLDAREN DATUAK / DATOS DEL PADRON MUNICIPAL</td>
	</tr>
	<tr>
	    <th style="width: 49%">   Izen-Abizenak:</th>
	    <td style="width: 49%;"><b>{{ habitante.nombre }} {{ habitante.apellido1 }} {{ habitante.apellido2 }}</b>
	    </td>
	</tr>
	<tr>
	    <th style="width: 49%">   Identifikazio agiria / Documento identificación:</th>
	    <td style="width: 49%;"><b>{{ habitante.numDocumento | number_format(0,'.','.')}} {{ habitante.claveDocumento }}</b></td>
	</tr>
	<tr>
	    <th style="width: 49%">   Etxebizitzaren helbidea / Dirección de la vivienda:</th>
	    <td style="width: 49%;"><b>{{ domicilios[domicilios | length] }}</b></td>
	</tr>
    </table>
</div>

<hr>	    
<div>
    <table style="border-spacing: 7px;">
	
	{% for movimiento in movimientos %}
	<tr>
	    <td style="background-color: #ddd">
		{% if movimiento.tipoVariacion matches '/M.+/' %}
		<b>Bizileku aldaketaren data/Fecha de cambio de domicilio: {{ movimiento.fechaVariacion[:4] }}-{{ movimiento.fechaVariacion|slice(-4,-2) }}-{{ movimiento.fechaVariacion|slice(-2) }}/{{ movimiento.fechaVariacion|slice(-2) }}-{{ movimiento.fechaVariacion|slice(-4,-2) }}-{{ movimiento.fechaVariacion[:4] }}</b><br/>
		{% elseif movimiento.tipoVariacion matches '/A.+/' %}
		<b>Alta Data/Fecha de alta: {{ movimiento.fechaVariacion[:4] }}-{{ movimiento.fechaVariacion|slice(-4,-2) }}-{{ movimiento.fechaVariacion|slice(-2) }}/{{ movimiento.fechaVariacion|slice(-2) }}-{{ movimiento.fechaVariacion|slice(-4,-2) }}-{{ movimiento.fechaVariacion[:4] }}</b><br/>
		<b>Jatorria/Origen: {%if movimiento.municipioProcedencia != ''%}{{movimiento.municipioProcedencia}} ({{movimiento.provinciaProcedencia|trim}}){% endif %}</b><br/>
		{% else %}
		<b>Baja Data/Fecha de baja: {{ movimiento.fechaVariacion[:4] }}-{{ movimiento.fechaVariacion|slice(-4,-2) }}-{{ movimiento.fechaVariacion|slice(-2) }}/{{ movimiento.fechaVariacion|slice(-2) }}-{{ movimiento.fechaVariacion|slice(-4,-2) }}-{{ movimiento.fechaVariacion[:4] }}</b><br/>
		<b>Nora/Destino:{% if movimiento.municipioDestino != '' %}{{movimiento.municipioDestino}} ({{movimiento.provinciaDestino|trim}}){% endif %}</b><br/>
		{% endif %}
		<b>Mugimendua/Movimiento: {{ movimiento.tipoVariacion | trans }}</b><br/>
		{% if not (movimiento.tipoVariacion matches '/B.+/') %}
		<b>Helmugako bizilekua/Domicilio destino:  {{ domicilios[loop.index]}}</b>
		{% endif %}
	    </td>
	</tr>
	{% endfor %}
    </table>
</div>
<hr>
<div>
    <table style="padding-top: 10px;">
	<tr>
	    <td>{#OHARRA#}</td>
	</tr>
	<tr>
	    <td>ZERTARAKO LUZATZEN DEN / EFECTO PARA EL QUE SE EXPIDE</td>
	</tr>
	<tr>
	    <td>{#ZERTARAKO LUZATZEN DEN#}</td>
	</tr>
    </table>
</div>
{% endblock %}
