{% extends 'pdf.html.twig' %}

{% block pdftitle %}{{'pdf.kolektiboa.izenburua-eu' | trans }}<br/>{{'pdf.kolektiboa.izenburua-es' | trans }}{% endblock %}

{% block message %}
    {% for msg in app.session.flashBag.get('success') %}
	<div class="alert alert-success margin-top-13">
	    {{ msg | trans}}
	</div>
    {% endfor %}
    {% for msg in app.session.flashBag.get('error') %}
	<div class="alert alert-danger margin-top-13">
	    {{ msg | trans}}
	</div>
    {% endfor %}
{% endblock %}

{% block body %}
<div>
    <table>
	<tr>
	    <td style="width: 48%">{{'pdf.kolektiboa.taula-aurreko-testua-eu' | trans }}</td>
	    <td style="width: 48%">{{'pdf.kolektiboa.taula-aurreko-testua-es' | trans }}</td>
	</tr>
    </table>
</div>

<div>
    <table style="width: 100%">
	<tr><td>{{'pdf.kolektiboa.biztaleen-errolda-datuak' | trans }}</td></tr>
	<tr>
	    <td>
		{{'pdf.entitatea' | trans }} <b>{{ entidad.descripcionCas }}</b><br/>
		{{'pdf.herrigunea' | trans }}<b>{{ entidad.descripcionEus }}</b><br/>
		{{'pdf.barrutia' | trans }} <b>{{ variacion.claveDistrito }}</b> {{'pdf.atala' | trans }} <b>{{ variacion.claveSeccion }}</b><br/>
	    </td>
	</tr>
	<tr><td>{{'pdf.kolektiboa.etxebizitzaren-helbidea' | trans }}</td></tr>
	<tr><td><b>{{ variacion.calle.tipoVia.claveCas }}/{{ variacion.calle.tipoVia.claveEus }} {{ variacion.calle.descripcion }}, {{ variacion.portal | number_format(0, '.', ',') }}{{ variacion.bis }}, {{ variacion.piso | trim | number_format(0, '.', ',') }}-{{ variacion.mano }}</b></td></tr>
    </table>
</div>
<div>
    <table style="width: 100%">
	<tr><td>{{'pdf.kolektiboa.inskripzio-datuak' | trans }}</td><td style="text-align: right;">{{'pdf.kolektiboa.personas' | trans }} <b> {{ habitantes | length | number_format(0, '.', ',') }}</b></td></tr>
    </table>
    <hr/>
</div>

<div>
    <table style="border-spacing: 7px;" class="taula-datuak">
	{% for habitante in habitantes %}
		<tr>
		    <td style="background-color: #ddd">{{ habitante.nombre }} {{ habitante.apellido1 }} {{ habitante.apellido2 }}, ({{habitante.sexo == 'M' ? 'E/M' : 'G/V'}}),
	{% if habitante.paisNacionalidadExtranjera == '000'%}
	    {{ habitante.paisNacionalidadExtranjera.descripcionCas }} ({{ habitante.paisNacionalidadExtranjera.id }}) <br/>
	{% else %}
	    {{ habitante.paisNacimiento.descripcionCas }} ({{ habitante.paisNacimiento.id }}) <br/>
	{% endif %}

	{{'pdf.jaiotza' | trans }}
	    {% if habitante.paisNacimiento.id == '108' %}
		    {{ habitante.provinciaNacimiento.descripcionCas }} ({{ habitante.provinciaNacimiento.id }}), {{ habitante.literalMunicipioNacimiento }} ({{ habitante.municipioNacimiento }})
		{% else %}
		    {{ habitante.literalMunicipioNacimiento }}({{ habitante.paisNacimiento.id }})
	    {% endif %}

	    {% set anyo=habitante.fechaNacimiento[:4] %}
	    {% set mes=habitante.fechaNacimiento|slice(-4,-2) %}
	    {% set dia=habitante.fechaNacimiento|slice(-2) %}
	, {{ anyo }}-{{ mes }}-{{ dia }}/{{ dia }}-{{ mes }}-{{ anyo }}<br/>
	{{'pdf.nan-dni' | trans }} {{ habitante.numDocumento }} {{ habitante.claveDocumento }}, {{'pdf.kolektiboa.udal-identi' | trans }} {{habitante.municipio}}-{{habitante.claveVivienda}}-{{habitante.numOrdenHabitante}}<br/>
	{% if ( ( habitante.fechaAlta | trim ) != '' ) %}
	    {{'pdf.kolektiboa.egoitza-noiztik' | trans }} {{ habitante.fechaAlta[:4] }}-{{ habitante.fechaAlta|slice(-4,-2) }}-{{ habitante.fechaAlta|slice(-2) }}/{{ habitante.fechaAlta|slice(-2) }}-{{ habitante.fechaAlta|slice(-4,-2) }}-{{ habitante.fechaAlta[:4] }}
	{% elseif ( (habitante.anoLlegada | trim ) != '0000')%}
	    {{'pdf.kolektiboa.egoitza-noiztik' | trans }} {{ habitante.anoLlegada }}
	{% endif %}
	{% if ( variacionesVivienda[loop.index-1] != null ) %}
	    {% set fechaVariacion=variacionesVivienda[loop.index-1].fechaVariacion %}
	, {{'pdf.kolektiboa.bizilekua-noiztik' | trans }} {{ fechaVariacion[:4] }}-{{ fechaVariacion|slice(-4,-2) }}-{{ fechaVariacion|slice(-2) }}/{{ fechaVariacion|slice(-2) }}-{{ fechaVariacion|slice(-4,-2) }}-{{ fechaVariacion[:4] }}
	{% endif %}
	<br/>
		    </td>
		</tr>
	{% endfor %}
    </table>
    <hr/>
</div>
<div>
    <table style="padding-top: 10px;">
	<tr>
	    <td>{{'pdf.kolektiboa.zertarako' | trans }}</td>
	</tr>
	<tr>
	    <td>{{ auditoria.motivo }}</td>
	</tr>
    </table>
</div>
{% endblock %}


{% block oharra %}

<div>
<br/><br/>
    <table>
	<tr>
	    <td style="width: 48%"><br/>{{'pdf.kolektiboa.oharra-eu' | trans }}</td>
	    <td style="width: 48%"><br/>{{'pdf.kolektiboa.oharra-es' | trans }}</td>
	</tr>
    </table>
</div>
{% endblock %}