{% extends 'pdf.html.twig' %}

{% block title %}{{'orri.mugimenduak.izenburua' | trans }}{% endblock %}

{% block pdftitle %}{{'pdf.mugimenduak.izenburua-eu' | trans }}<br/>{{'pdf.mugimenduak.izenburua-es' | trans }}{% endblock %}

{% block body %}
<div>
    <table>
	<tr>
	    <td style="width: 49%;">{{'pdf.mugimenduak.taula-aurreko-testua-eu' | trans }}</td>
	    <td style="width: 49%;">{{'pdf.mugimenduak.taula-aurreko-testua-es' | trans }}</td>
	</tr>
    </table>
</div>

<div>
    <table>
	<tr>
	    <td colspan="2">{{'pdf.kolektiboa.biztaleen-errolda-datuak' | trans }}</td>
	</tr>
	<tr>
	    <th style="width: 49%">{{'pdf.izen-abizenak-eu' | trans }}</th>
	    <td style="width: 49%;"><b>{{ habitante.nombre }} {{ habitante.apellido1 }} {{ habitante.apellido2 }}</b>
	    </td>
	</tr>
	<tr>
	    <th style="width: 49%">{{'pdf.mugimenduak.dokumentazio-agiria' | trans }}</th>
	    <td style="width: 49%;"><b>{{ habitante.numDocumento }} {{ habitante.claveDocumento }}</b></td>
	</tr>
	<tr>
	    <th style="width: 49%">{{'pdf.mugimenduak.etxebizitzaren-helbidea' | trans }}</th>
	    <td style="width: 49%;"><b>{{ domicilios[domicilios | length] }}</b></td>
	</tr>
    </table>
</div>

<hr>	    
<div>
    <table style="border-spacing: 7px;">
	
	{% for movimiento in movimientos %}
	<tr>
	    <td style="background-color: #ddd">
		{% if movimiento.tipoVariacion matches '/M.+/' %}
		<b>{{ 'pdf.mugimenduak.bizileku-aldaketa-data' | trans }} {{ movimiento.fechaVariacion[:4] }}-{{ movimiento.fechaVariacion|slice(-4,-2) }}-{{ movimiento.fechaVariacion|slice(-2) }}/{{ movimiento.fechaVariacion|slice(-2) }}-{{ movimiento.fechaVariacion|slice(-4,-2) }}-{{ movimiento.fechaVariacion[:4] }}</b><br/>
		{% elseif movimiento.tipoVariacion matches '/A.+/' %}
		<b>{{ 'pdf.mugimenduak.alta-data' | trans }} {{ movimiento.fechaVariacion[:4] }}-{{ movimiento.fechaVariacion|slice(-4,-2) }}-{{ movimiento.fechaVariacion|slice(-2) }}/{{ movimiento.fechaVariacion|slice(-2) }}-{{ movimiento.fechaVariacion|slice(-4,-2) }}-{{ movimiento.fechaVariacion[:4] }}</b><br/>
		<b>{{ 'pdf.mugimenduak.jatorria' | trans }} {%if movimiento.paisProcedencia == '000'%}
					{%if movimiento.municipioProcedencia != ''%}{{movimiento.municipioProcedencia}} ({{movimiento.provinciaProcedencia|trim}}){% endif %}
				    {% else %}
					{{ movimiento.paisProcedencia.descripcionCas }}({{movimiento.paisProcedencia.id}})
				    {% endif %}</b><br/>
		{% else %}
		<b>{{ 'pdf.mugimenduak.baja-data' | trans }} {{ movimiento.fechaVariacion[:4] }}-{{ movimiento.fechaVariacion|slice(-4,-2) }}-{{ movimiento.fechaVariacion|slice(-2) }}/{{ movimiento.fechaVariacion|slice(-2) }}-{{ movimiento.fechaVariacion|slice(-4,-2) }}-{{ movimiento.fechaVariacion[:4] }}</b><br/>
		<b>{{ 'pdf.mugimenduak.destino' | trans }} {% if movimiento.municipioDestino != '' %}{{movimiento.municipioDestino}} ({{movimiento.provinciaDestino|trim}}){% endif %}</b><br/>
		{% endif %}
		<b>{{ 'pdf.mugimenduak.mugimendua' | trans }} {{ movimiento.tipoVariacion | trans }}</b><br/>
		{% if not (movimiento.tipoVariacion matches '/B.+/') %}
		<b>{{ 'pdf.mugimenduak.domicilio-destino' | trans }} {{ domicilios[loop.index]}}</b>
		{% endif %}
	    </td>
	</tr>
	{% endfor %}
    </table>
</div>
<hr>
<div>
    <table style="padding-top: 10px;">
	<tr>
	    <td>{#OHARRA#}</td>
	</tr>
	<tr>
	    <td>{{ 'pdf.kolektiboa.zertarako' | trans }}</td>
	</tr>
	<tr>
	    <td>{{ auditoria.motivo }}</td>
	</tr>
    </table>
</div>
{% endblock %}
